body{
							margin:0%;
							padding:0%;	
						}
				#mainarea{
							background:#148248;
						}
				#logoarea{
							width:250px;
							height:200px;
							float:left;
							background:#148248;
							overflow:hidden;
						}
				#logoarea img:hover{
									transform:scale(1.5,1.5);
								}
			#logoarea img{
						width:100%;
						heigth50%;
						/*transition-property:transform;
						transition-duration:4s;
						transition-delay:1s;*/
						transition:transform 4s;
					}
				#titlearea{
							width:1000px;
							height:200px;
							background:#148248;
							float:left;
						}
				#titlearea h1{
							color:black;
							font-family:arial , geneva 'helvetica';
							letter-spacing:2px;
					}				
				#logoarea2{
							width:250px;
							height:200px;
							float:left;
							background:#148248;
							overflow:hidden;													
						}
				#logoarea2 img:hover{
								transform:scale(1.5,1.5);
								}
			#logoarea2 img{
						width:100%;
						heigth50%;
						/*transition-property:transform;
						transition-duration:4s;
						transition-delay:1s;*/
						transition:transform 4s;
					}
				#under1{
							background:#A28B55;
							width:1500px;
							height:250px;
							text-align:center;
							color:red;
					}
				#menuarea{
							width:1500px;
							height:40px;
							background:#FFF0D1;
			}	
			#menuarea ul{
							list-style:none;
							margin:0px;
							padding:0px;
				}
			#menuarea ul li{
							float:left;
						}
			#menuarea ul li a:link,  #menuarea ul  li a:visited{
							color:red;
							background:black; 
							text-decoration:none;
							padding:10px 25px;
							display:block;
							text-align:center;
							border-right:solid 1px #50B498;
									}
			#menuarea ul li a:hover{
							background:#C9DABF;
							color:black;
							
						}
			#menuarea ul li ul {
							display:none;
						}
			#menuarea ul li:hover ul{
							display:block;
							position:absolute;
							z-index:1000;
								}
			#menuarea ul li:hover ul li{
							float:none;
								}
				#s1 h1{
							padding-top:20px;
						}
				#vegarea{
							width:1500px;
							height:600px;
							background-image:linear-gradient(red,yellow);
							}
				.box8{
							width:300px;
							height:200px;
							float:left;
							margin:30px;
							border-radius:50%;
						}
				.box8 img{					
							border-radius:50%;
						}
				.box8 img{
							padding:5px;
							margin:40 0px;
						}

				#under2{
							width:1500px;
							height:60px;
							background:#7CF5FF;	
							text-align:center;
							color:red;
						}
				#nonearea{
							width:1500px;
							height:600px;
							background-image:linear-gradient(indigo,pink);
						}
				.box8{					
							width:300px;
							height:200px;
							float:left;
							margin:35px;									
					}	
				.box8 img{					
							border-radius:50%;
						}
				.box8 img{
							padding:5px;
							margin:40 0px;
						}
				#under3{
							width:1500px;
							height:40px;
							background:#7695FF;
							text-align:center;
							color:red;
						}
				#under3 h3{
							padding-bottom:5px;
						}
				#downarea{
							width:1500px;
							height:500px;
							background:indigo;
							float:left;
							}
				#downarea h1:hover{
									color:red;
								}
				#downarea h2:hover{
									color:#6439FF;
								}
				#downarea1{
							width:500px;
							height:500px;
							background:lightgreen;							
							float:left;
						}
				#downarea2{
							width:500px;
							height:500px;
							background:lightyellow;
							float:left;
						}
				#downarea3{
							width:500px;
							height:500px;
							background:#E5D9F2;
							float:left;
						}
				#footerarea{
							width:1500px;
							height:500px;
							background:indigo;
							float:left;
						}
				@media print{
								mainarea{
											display:none;
									}
							}
